---
layout: base
title: 'Event Calendar - Breck-Wahp Chess Club'
---

<iframe src="https://calendar.google.com/calendar/embed?src=3a38541024cdd1693a059632c4b3cfd6f7b792a65d7075af8351cfc1010e117e%40group.calendar.google.com&ctz=America%2FChicago" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
